<%= content_for :header_title do %>
  Contratar Produto
<% end %>

<%= content_for :page_title do %>
  Planos para <%= @product.name %>
<% end %>

<ol class="ls-breadcrumb">
  <li>
    <%= link_to @product.name, products_cart_path %>
  </li>
  <li>Planos</li>
</ol>

</br>

<section class="product" id="plans">
  <% @plans.each do |plan| %>
    <%= render partial: 'plans/plan', locals: {plan: plan} %>
  <% end %>
</section>
