<%= content_for :header_title do %>
  Periodicidade
<% end %>

<%= content_for :page_title do %>
  Periodos do plano <%= @plan.name %>
<% end %>

<ol class="ls-breadcrumb">
  <li>
    <%= link_to @product.name, products_cart_path %>
  </li>
  <li><%= link_to @plan.name, product_plans_cart_path(@product.name, @product.id) %></li>
  <li>Periodicidade</li>
</ol>

</br>
<section id="prices">
  <% @periodicities.each do |periodicity| %>
    <%= render partial: 'periodicities/periodicity', locals: {periodicity: periodicity} %>
  <% end %>
</section>
