<% content_for :header_title do %>
  Produtos
<% end %>
<% content_for :page_title do %>
  Nossos produtos
<% end %>
<section id="products">
<% @products.each do |product| %>
  <%= render partial: 'products/product', locals: {product: product} %>
<% end %>
</section>
