<% content_for :header_title do %>
  Criar Vendedor
<% end %>

<section id='user-form'>
  <%= form_for @seller, url: sellers_path do |f| %>
    <fieldset>
      <%= f.label :name, class: 'ls-label col-md-3' do %>
        <b class="ls-label-text"><%= t('activerecord.attributes.user.name') %></b>
        <%= f.text_field :name, autofocus: true %>
      <% end %>

      <%= f.label :nickname, class: 'ls-label col-md-3' do %>
        <b class="ls-label-text"><%= t('activerecord.attributes.user.nickname') %></b>
        <%= f.text_field :nickname, autofocus: true %>
      <% end %>

      <%= f.label :email, class: 'ls-label col-md-3' do %>
        <b class="ls-label-text"><%= t('activerecord.attributes.user.email') %></b>
        <%= f.email_field :email, autofocus: true %>
      <% end %>

      <div class="ls-actions-btn">
        <%= f.submit t('buttons.create_seller'), class: 'ls-btn' %>
      </div>
    </fieldset>
  <% end %>
</section>
