
<% content_for :header_title do %>
  Pedido Checkout
<% end %>
<% content_for :page_title do %>
  Resumo
<% end %>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <strong><%= @product.name %></strong>
      <small><%= @product.description %>  </small>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano</span>
      <strong><%= @plan.name %></strong>
    </div>
    <div class="col-xs-12 col-md-3">
      <span class="ls-list-label">Periodicidade</span>
      <strong id='period'><%= @order.period %></strong>
    </div>
    <div class="col-xs-12 col-md-3">
      <span class="ls-list-label">Valor</span>
      <strong id='price'><%= @order.price %></strong>
    </div>
  </div>
</div>
<section id="customers">
  <div class='ls-box'>
    <%= form_tag seller_send_order_path(@order), action: :post, class: 'ls-form' do %>
      <%= label_tag :order_user_id, class: 'ls-label' do %>
        <b>Clientes</b>
        <div class="ls-custom-select">
          <%= collection_select :order, :user_id, @customers, :id, :name, {}, class: 'ls-select' %>
        </div>
      <% end %>
      <%= submit_tag 'Gerar Pedido', class: 'ls-btn-primary' %>
    <% end %>
  </div>
</section>
