<% content_for :header_title do %>
  Finalizar Pedido
<% end %>
<% content_for :page_title do %>
  Resumo
<% end %>
<div class="ls-list" id="resume">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <strong><%= @product.name %></strong>
      <small><%= @product.description %></small>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano</span>
      <strong><%= @plan.name %></strong>
    </div>
    <div class="col-xs-12 col-md-3">
      <span class="ls-list-label">Periodicidade</span>
      <strong id='period'><%= @order.period %></strong>
    </div>
     <div class="col-xs-12 col-md-3">
      <span class="ls-list-label">Valor</span>
      <strong id='price'><%= @order.price %></strong>
     </div>
  </div>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <% if @order.payment.boleto %>
        <span class="ls-list-label">Pagamento</span>
        <strong id='boleto'>Boleto</strong>
      <% else %>
        <span class="ls-list-label">Pagamento</span>
        <strong id='credit'>Cartão de crédito</strong>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Vendedor</span>
      <strong id='seller'><%= @order.seller.nickname if @order.seller %></strong>
    </div>
  </div>
</div>

<div class='ls-box' id="order_actions">
  <%= link_to 'Finalizar Pedido', finish_order_path(@order), { method: :put, class: 'ls-btn-primary ls-float-right' } %>
  <%= link_to 'Cancelar', cancel_order_path(@order), { method: :put, class: 'ls-btn-danger ls-float-right ls-md-margin-right' } %>
</div>
