<% content_for :header_title do %>
  Seu Pedido
<% end %>
<% content_for :page_title do %>
  Resumo
<% end %>
<div class="ls-list" id="resume">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <strong>
        <%= @product.name %>
        <% if @order.closed? %>
          <span class="ls-tag-success">Finalizado</span>
        <% end %>
         <% if @order.canceled? %>
          <span class="ls-tag-danger">Cancelado</span>
        <% end %>
      </strong>
      <small><%= @product.description %></small>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Plano</span>
      <strong><%= @plan.name %></strong>
    </div>
    <div class="col-xs-12 col-md-3">
      <span class="ls-list-label">Periodicidade</span>
      <strong id='period'><%= @order.period %></strong>
    </div>
     <div class="col-xs-12 col-md-3">
      <span class="ls-list-label">Valor</span>
      <strong id='price'><%= @order.price %></strong>
     </div>
  </div>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Pagamento</span>
      <% if @order.payment %>
        <% if @order.payment.boleto %>
          <strong id='boleto'>Boleto</strong>
        <% else %>
          <strong id='credit'>Cartão de crédito</strong>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <span class="ls-list-label">Vendedor</span>
      <strong id='seller'><%= @order.seller.nickname if @order.seller %></strong>
    </div>
  </div>
</div>
