<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @customer.name %></h1>
    <p>
      Falta pouco para concluir sua compra!
    </p>
    <p>
      Para realizar o checkout acesse: <%= checkout_order_url(@order, host:'localhost') %>.
    </p>
    <p>Obrigado por comprar conosco.</p>
  </body>
</html>
