<div data-ls-module="collapse" data-target="#0" class="ls-collapse " id="<%= periodicity.name.capitalize %>">
  <a href="#" class="ls-collapse-header">
    <h3 class="ls-collapse-title"><%= periodicity.name.capitalize %></h3>
    <p>R$ <%= periodicity.price %></p>
  </a>
  <div class="ls-collapse-body" id="0">
    <p>
    <%= button_to 'Contratar', orders_path, {method: :post, class: 'ls-btn-primary', params: {product: @product.id, plan: @plan.id, period: periodicity.name, price: periodicity.price, price_id: periodicity.id}} %>
    </p>
  </div>
</div>
