<div class="ls-topbar ">

  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <%= link_to "http://qsd.campuscode.com.br/projeto_final/vendas", { class:'ls-ico-question', target: '_blank' } do %>
        <span>Projeto</span>
      <% end %>
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <%= render @top_menu %>
    </div>
  </div>

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <!-- Nome do produto/marca com sidebar -->
  <h1 class="ls-brand-name">
    <%= link_to '#', { class: 'ls-ico-earth' } do %>
      <%= yield :header_title %>
    <% end %>
  </h1>

  <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->
</div>
