<ul>
  <li>
    <%= link_to 'Início', root_path, class: 'ls-ico-home' %>
  </li>
  <li>
    <%= link_to 'Pedidos', admin_orders_path, class: 'ls-ico-list' %>
  </li>
  <li>
    <%= link_to 'Cadastrar Vendedor', new_seller_path, class: 'ls-ico-user-add' %>
    </li>
</ul>
