<ul>
  <li>
    <%= link_to 'Início', root_path, class: 'ls-ico-home' %>
  </li>
  <li>
    <%= link_to 'Produtos', root_path, class: 'ls-ico-dashboard' %>
  </li>
  <li>
    <%= link_to 'Meus Pedidos', customer_orders_path, class: 'ls-ico-list' %>
  </li>
</ul>
