<!DOCTYPE html>
<html class="ls-theme-moss">
  <head>
    <title>Vendas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag '//assets.locaweb.com.br/locastyle/3.10.0/stylesheets/locastyle.css' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section id="navbar">
      <%= render 'header' %>
    </section>
    <%= render 'left_bar' %>
    <main class="ls-main">
      <div class="container-fluid">
        <h1 class="ls-title-intro ls-ico-home"><%= yield :page_title %></h1>
        <%= (flash.empty?)? '' : render('flash_alert') %>
        <%= yield %>
      </div>
    </main>

    <%= javascript_include_tag '//assets.locaweb.com.br/locastyle/3.10.0/javascripts/locastyle.js' %>
  </body>
</html>
